<body>
<center>
<h1 class="title">Contacts List</h1>

<div class="contactContainer">
<h2>Contacts</h2>
<td>
  <tr>
    <tc>
      <button>
      <%= link_to 'Create New Contact', new_user_path %>
      </button>
    </tc>
    <tc>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    </tc>
  </tr>
</td>
<ul id="myUL">
<% @user.order("name ASC").each do |user| %>
  <li>
    <p>
    <strong>Name:</strong>
    <%= user.name %>
    ||
     
      <td><%= link_to 'Show', user_path(user) %></td>
      ||
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      ||
      <td><%= link_to 'Delete', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </li>
<% end %>
</p>
</ul>
</center>
</body>
</div>