<center>
    <%= form_for :welcome do |f| %>
    <p>
        <%= f.text_field 'First Name' %>
        
        <%= f.text_field 'Last Name' %>
        
        <%= f.text_field 'Email' %>
        
        <%= f.text_field 'Phone Number' %>
        
        <%= f.text_field 'Address' %>
        
        <%= f.text_field 'Note' %>
    </p>
    <% end %>
</center>