<body>
<div class="topnav">
  <%= link_to "Sign out", signout_path, id: "sign_out" %>
</div>
<center>
<h1 class="title">Contacts List</h1>

<div class="contactContainer">
<h2>Contacts</h2>
<td>
  <tr>
    <tc>
      <button>
      <%= link_to 'Create New Contact', contacts_new_url %>
      </button>
    </tc>
    <tc>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    </tc>
  </tr>
</td>
<ul id="myUL">
<% current_user.contacts.order("name ASC").each do |contact| %>
  <li>
    <p>
    <strong>Name:</strong>
    <%= contact.name %>
    ||
    <strong>Email:</strong>
    <%= contact.email %>
    
    ||
     
      <td><%= link_to 'Show', contact_path(contact) %></td>
      ||
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      ||
      <td><%= link_to 'Delete', [contact.user, contact],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </li>
<% end %>
</p>
</ul>
</center>
</body>
</div>