<body>
<center>

<header class="sticky">
  <table class="headerNav">
    <tr>
      <td class="headerLeft">
        <%= link_to 'Create New Contact', contacts_new_url, class: "btn", style: "height:15px;width:150px" %>
      </td>
      <td class="headerMid">
      <h1 class="title"> Contacts List</h1>
      </td>
      <td class="headerRight">
        <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn", style: "height:15px;width:150px" %>
      </td>
    </tr>

  </table>
</header>

<div class="contactContainer">
<h2>Contacts</h2>
<td>
  <tr>
    <tc>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
    </tc>
  </tr>
</td>
<ul id="myUL">
  <table id ="myTable">
<% current_user.contacts.order("name ASC").each do |contact| %>
  <li>
      <tr>
        <p>
          <td class="nameColumn">
            <strong>Name:</strong>
            <%= contact.name %>
          </td>
    
          <td class="emailColumn">
            <strong>Email:</strong>
            <%= contact.email %>
          </td>
     
          <td class="showColumn"><%= link_to 'Show', contact_path(contact) , class: "btn"%></td>
          <td class="editColumn"><%= link_to 'Edit', edit_contact_path(contact), class: "btn"%></td>
          <td class="deleteColumn"><%= link_to 'Delete', [contact.user, contact],
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn"%></td>
        </p>
      </tr>
  </li>
<% end %>
</table>
</ul>
</center>
</div>
</body>