<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
 
<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>
 
<p>
  <strong>Note:</strong>
  <%= @contact.note %>
</p>

<%= link_to 'Contacts List', contacts_home_url %>