<!--<h1>Log In</h1>-->
<!--<center>-->
<!--<form>-->
<!--  Email:<br>-->
<!--  <input type="text" name="email"><br>-->
  
<!--  Password:<br>-->
<!--  <input type="text" name="password"><br>-->
	
<!--    <input type="submit" value="Submit">-->
<!--    <%= link_to '<button type="button">Cancel</button>'.html_safe, welcome_index_url %>-->
<!--</form>-->
<!--</center>-->

<body>
  <div>
    <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>
  <%= yield %>
</body>